@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Assistant', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #333;
  background-color: #FAFAFA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #FAFAFA, #F5F5F5);
}

#root {
  width: 100%;
}

html, body, #root {
  height: 100%;
}

